.features-container{
    width: 100%;
    height: 100vh;

    .features-container__subcontainer{
        width: 1170px;
        height: 717px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 116px;

        section{
            width: 370px;
            height: 305.43px;

            h4{
                height: 72px;
                font-weight: 900;
                font-size: 24px;
                line-height: 72px;
                text-align: center;
                text-transform: uppercase;
                color: #2D3033;
            }
            
            h5{
                height: 84px;
                font-weight: 400;
                font-size: 18px;
                text-align: center;
                color: #6C7279;
            }
            
            img{
                display: block;
                margin: 0 auto;
            }
        }
    }
    
}

@media screen and (min-width: 480px) and (max-width: 1023px){
    .features-container{

        .features-container__subcontainer{
            width: 984px;
            height: 523.89px;
            margin-top: 78px;
    
            section{
                width: 315px;
                height: 237px;
    
                h4{
                    height: 60.55px;
                    font-size: 18px;
                    line-height: 60.55px;
                }
            
                h5{
                    height: 64px;
                    font-weight: 400;
                    font-size: 14px;
                }
            
                img{
                    width: 85px;
                    height: 83.97px;
                }
            }
        }
    }
}

@media screen and (max-width: 479px){
    .features-container{

        .features-container__subcontainer{
            width: 280.84px;
            height: 1542.15px;
            margin: 0 auto;
            margin-top: 40px;
    
            section{
                width: 279px;
                height: 221.54px;
    
                h4{
                    height: 53.63px;
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 53.63px;
                }
            
                h5{
                    height: 80px;
                    font-weight: 400;
                    font-size: 14px;
                }
            
                img{
                    width: 75.75px;
                    height: 75.75px;
                }
            }
        }
    }
}