.footer-container{
    width: 100%;
    
    .footer-container__subcontainer{
        height: 340px;
        // margin: 0 auto;
        margin-top: 114px;
    }
    
    .footer-container__subcontainer-down{
        height: 90px;
        background: #2C3154;
        display: flex;
        justify-content: center;
        align-items: center;
        h5{
            width: 370px;
            height: 42px;
            font-weight: 400;
            font-size: 18px;
            text-align: center;
            text-transform: capitalize;
            color: #808080;
        }
        span{
            color: #FFFFFF;
        }
    }

    .footer-container__subcontainer-up{
        height: 251px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #353C65;
        h5{
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        
        h6{
            font-weight: 400;
            font-size: 18px;
            text-align: center;
            text-transform: capitalize;
            color: #FFFFFF;
        }
    }
    .footer-container__location{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 370px;
        height: 71px;
    
    }
    
    .footer-container__share{
        width: 370px;
        height: 108.86px;
        margin: 0 30px;
        .footer-container__icons{
            width: calc(39px * 3 + 27px + 26px);
            height: 39px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            margin-top: 48.86px;
        }
    }
    
    .footer-container__about{
        width: 370px;
        height: 112.71px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    
    }
}

@media screen and (min-width: 480px) and (max-width: 1023px){
    .footer-container{
        
        .footer-container__subcontainer{
            height: 229.33px;
            margin-top: 78px;
        }
        
        .footer-container__subcontainer-down{
            height: 60.70px;
            h5{
                width: 314px;
                height: 32px;
                font-size: 14px;
            }
            span{
            }
        }
    
        .footer-container__subcontainer-up{
            height: 169.63px;
            h5{
                font-size: 14px;
            }
            
            h6{
                font-size: 14px;
            }
        }
        .footer-container__location{
            width: 315px;
            height: 49.72px;
        }
        
        .footer-container__share{
            width: 314px;
            height: 81.51px;
            margin: 0 20px;
            .footer-container__icons{
                width: calc(33px * 3 + 23.01px + 22.16px);
                height: 33px;
                margin-top: 32.51px;
            }
        }
        
        .footer-container__about{
            width: 315px;
            height: 79.58px;
        }
    }
}

@media screen and (max-width: 479px){
    .footer-container{
        
        .footer-container__subcontainer{
            height: 540px;
            margin-top: 45px;
        }
        
        .footer-container__subcontainer-down{
            h5{
                width: 280px;
                height: 32px;
                font-size: 14px;
            }
            span{
            }
        }
    
        .footer-container__subcontainer-up{
            height: 451px;
            flex-direction: column;

            h5{
                font-size: 14px;
            }
            
            h6{
                font-size: 14px;
            }
        }
        .footer-container__location{
            width: 280px;
            height: 66px;
        }
        
        .footer-container__share{
            width: 279px;
            height: 85.71px;
            margin: 69.24px 0 59.05px;
            .footer-container__icons{
                width: calc(33px * 3 + 16.77px + 16.01px);
                height: 33px;
                margin-top: 36.71px;
            }
        }
        
        .footer-container__about{
            width: 279px;
            height: 102.71px;
        }
    }
}