.team-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .team-container__subcontainer{
        width: 1170px;
        margin-top: 114px;
        display: flex;
        justify-content: space-between;

        section{
            width: 270px;
            height: 619px;
            font-size: 0;
            /* выше убрал отступы на картинках */
            h5{
                font-weight: 700;
                font-size: 24px;
                color: #2D3033;
                height: 30px;
                margin-top: 30px;
            }
            
            p:first-of-type{
                font-weight: 400;
                font-size: 18px;
                text-transform: uppercase;
                color: #FF4343;
                height: 21px;
                margin-top: 5.29px;
            }
            
            p:last-of-type{
                font-weight: 400;
                font-size: 18px;
                color: #6C7279;
                height: 168px;
                margin: 17.86px 0 37.86px 0;
            }
            
            img{
                display: inline-flex;
            }
            
            img:nth-of-type(3){
                margin: 0 5px 0 6px;
            }
                    /* два действия выше не обязательны, если не убирать отступы в картинках */
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 1023px){
    .team-container{
        .team-container__subcontainer{
            width: 984.08px;
            margin-top: 78.22px;
    
            section{
                width: 227.08px;
                height: 520.59px;
                h5{
                    font-size: 18px;
                    color: #2D3033;
                    height: 25.23px;
                    margin-top: 25.23px;
                }
                
                p:first-of-type{
                    font-size: 14px;
                    height: 16px;
                    margin-top: 4.60px;
                }
                
                p:last-of-type{
                    font-size: 14px;
                    height: 128px;
                    margin: 22.45px 0 39.20px 0;
                }
                
                img{
                    display: inline-flex;
                }
                
                img:first-of-type{
                    width: 227.08px;
                    height: 227.08px;
                }

                img:not(:first-of-type){
                    width: 32.80px;
                    height: 32.80px;
                }

                img:nth-of-type(3){
                    margin: 0 4.21px 0 5.05px;
                }
                        /* два действия выше не обязательны, если не убирать отступы в картинках */
            }
        }
    }
}

@media screen and (max-width: 479px){
    .team-container{
        .team-container__subcontainer{
            width: 280px;
            height: 2252px;
            margin-top: 35px;
            display: flex;
            flex-direction: column;
    
            section{
                width: 280px;
                height: 521px;
                h5{
                    font-size: 18px;
                    height: 25.25px;
                    margin-top: 25.25px;
                }
                
                p:first-of-type{
                    font-size: 14px;
                    height: 16px;
                    margin-top: 4.61px;
                }
                
                p:last-of-type{
                    font-size: 14px;
                    height: 96px;
                    margin: 38.49px 0 55.15px 0;
                }
                
                img{
                    display: inline-flex;
                }
                
                img:first-of-type{
                    width: 280px;
                    height: 227.25px;
                }

                img:not(:first-of-type){
                    width: 39.61px;
                    height: 39.61px;
                }

                img:nth-of-type(3){
                    margin: 0 5.08px 0 6.09px;
                }
                        /* два действия выше не обязательны, если не убирать отступы в картинках */
            }
        }
    }
}